.DownloadBtn{
  padding: 0px 35px;
  background-Color: #e97c00;
  border-Radius: 10px;
  font-size: 1.1rem;
  margin-Bottom: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
  display:flex;
  flex-direction: row;
}
.DownloadBtn:hover{
  padding: 0px 35px;
  background-Color: #ff8a04;
  border-Radius: 10px;
  font-size: 1.1rem;
  margin-Bottom: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
  cursor:pointer;
}
.icon{
  width: 20px;
  margin-right: 15px;
  align-items:baseline;
}

@media (max-width: 435px){
  .DownloadBtn{
  padding: 0px 35px;
  background-Color: #e97c00;
  border-Radius: 10px;
  font-size: 1rem;
  margin-Bottom: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
  display:flex;
  flex-direction: row;
}
.DownloadBtn:hover{
  padding: 0px 35px;
  background-Color: #ff8a04;
  border-Radius: 10px;
  font-size: 1rem;
  margin-Bottom: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.438);
  cursor:pointer;
}
}